@model string

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <h3>Welcome to my home page</h3>
    <body>This website gives many examples of the benefits of ASP.NET.  There are many_
        other things that have been shown on this website.  There are examples of_
        Javascript, CSS, HTML, and server and client side calculations.  These_
        skills are extremely useful when creating applications on websites.  I_
        believe I would be a great asset to any team, please take a look around_
        this sample website of my work and the different things that I was able_
        to accomplish.
    </body>

    <br />
    <br />
}



