<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cox, Chase Final Project</title>
    <link href="@Url.Content("~/Content/StyleSheetMain.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
    <h1>Cox, Chase Final Project</h1>

    <div>
        <a href="~/Home/index" id="menu">Home
	    </a>
	    <a href="#" id="menu">Form/Layout Demos
            <span>
                <b onclick="location.href='/Home/WebForm'">Web Form</b>
                <b onclick="location.href='/Home/AbsoluteLayout'">Absolute Layout</b>
                <b onclick="location.href='/Home/StaticLayout'">Static Layout</b>
                <b onclick="location.href='/Home/FloatLayout'">Float Layout</b>
            </span>
        </a>
        <a href="~/Home/ClientSideDemo" id="menu">ClientSide Demo
        </a>
        <a href="~/Home/ServerSideDemo" id="menu">ServerSide Demo
        </a>
        <a href="~/Home/Bio" id="menu">About Myself
        </a>
    </div>
    </header>
    <div>
        @RenderBody()
    </div>
@*    <footer>
        <address>Chase Cox&#169 Contact Information</address>
        <address><a href="mailto:chase.cox@csulb.edu">Email: chase.cox@csulb.edu</a></address>
        <address><i>Phone:(562)985-4554</i></address>
    </footer>*@
</body>
</html>
